<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signinpat.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <!-- Replace 'path_to_your_logo.jpg' with your actual logo image path -->
        <a href="#" class="navbar-brand">
            <img src="/Images/logo.png" alt="CareFlex" class="nav-logo">
        </a>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Monitoring Dashboard</a>
            <a href="#" class="nav-login">Login</a>
        </div>
    </nav>

    <form action="/login/patientdata" method="post">
    Patient Name : <input type="text" name="pat_name" id="pat_name" placeholder="eg. Mr.Swadesh Jadhav">
    Patient Contact : <input type="number" name="pat_phone" id="pat_phone">
    Patient email : <input type="email" name="pat_email" id="pat_email">
    Patient height : <input type="number" name="pat_height" id="pat_height">
    Patient weight : <input type="number" name="pat_weight" id="pat_weight">
    Patient password : <input type="password" name="pat_pass" id="pat_pass">
    Confirm password : <input type="password" name="pat_cpass" id="pat_cpass">
    Doctor Key : <input type="text" name="d_cpass" id="d_cpass">
    <div id="forwrong"> </div>
    <button id="btnsub" type="button">Submit</button>
</form>

<script src="/js/signinpat.js"></script>
</body>
</html>